body{
  border: 1px dotted gray;
  padding: 20px;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
#homeScreen{
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */
	background-color: : #CC00AA;
}
body {
  border: 5px
	line blue;
  padding: 10px;
}
