/* applies to anything of class "example-class-selector" */
body {
	font-family: "Quicksand", monospace;
	text-align: center;
	/*background: #e6e6e6; */
}
.header{
	padding: 5px;
	font-family: "Pacifico", Pacifico, monospace;
	text-align: center;
}
#homeScreen {
	font-family: "Pacifico", Pacifico, monospace;
	background: #B0C4DE;
	color: white;
	font-size: 20px;
}
#q1 {
	padding-bottom: 20px;
	border-style: dotted;
}
#q1answers {
	font-family: "Quicksand";
	text-align: left;
}

#q2 {
	padding-bottom: 20px;
	border-style: dotted;
}
#q2answers {
	font-family: "Quicksand";
	text-align: left;
}
#q3 {
	padding-bottom: 20px;
	border-style: dotted;
}
#q3answers {
	font-family: "Quicksand";
	text-align: left;
}
#resultSubtitle {
	font-family: "Quicksand";
}
#resultOne {
	padding-bottom: 20px;
	border-style: dotted;
	font-family: "Quicksand";
}
#resultTwo {
	padding-bottom: 20px;
	border-style: dotted;
	font-family: "Quicksand";
}
#resultThree {
	padding-bottom: 20px;
	border-style: dotted;
	font-family: "Quicksand";
}
#nutritionOne {
	font-family: "Quicksand";
}
#placeSubtitle {
	font-family: "Quicksand";
	font-size: 10px;
}
#ucsdFoodTitle{
	font-size: 35px;
	margin-top: -65px;
	margin-bottom: -30px;
}
#psm1 {
	font-size: 13;
}
#sMenu {
	margin-top: 50px;
}
}

a{
	text-decoration: none;
	color: black;
}
a:hover{
	cursor: pointer;
}
