/* applies to anything of class "example-class-selector" */
body {
	font-family: "Pacifico", Pacifico, monospace;
	text-align: center;
	/*background: #e6e6e6; */
}
.header{
	padding: 25px;
}
#homeScreen {
	font-family: "Pacifico", Pacifico, monospace;
	background: #B0C4DE;
	color: white;
	font-size: 1.5em;
}
#questionOne {
	padding-bottom: 20px;
	border-style: dotted;
}
#questionOneAnswers {
	font-family: "Quicksand";
	text-align: left;
}
#questionTwo {
	padding-bottom: 20px;
	border-style: dotted;
}
#questionTwoAnswers {
	font-family: "Quicksand";
	text-align: left;
}
#questionThree {
	padding-bottom: 20px;
	border-style: dotted;
}
#questionThreeAnswers {
	font-family: "Quicksand";
	text-align: left;
}
a{
	color: white;
	text-decoration: none;
}
/*a:link, a:visited {
    background-color: white;
    color: black;
    border: 2px solid #B0C4DE;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: #B0C4DE;
    color: white;
}*/
