/* applies to anything of class "example-class-selector" */
body {
	font-family: "Pacifico",monospace;
	text-align: center;
	/*background: #e6e6e6; */
}
.header{
	padding: 25px;
	font-family: "Pacifico", Pacifico, monospace;
	text-align: center;
}
#homeScreen {
	font-family: "Pacifico", Pacifico, monospace;
	background: #B0C4DE;
	color: white;
	font-size: 20px;
}
#q1 {
	padding-bottom: 20px;
	border-style: dotted;
}
#q1answers {
	font-family: "Quicksand";
	text-align: left;
}

#q2 {
	padding-bottom: 20px;
	border-style: dotted;
}
#q2answers {
	font-family: "Quicksand";
	text-align: left;
}
#q3 {
	padding-bottom: 20px;
	border-style: dotted;
}
#q3answers {
	font-family: "Quicksand";
	text-align: left;
}
#resultSubtitle {
	font-family: "Quicksand";
}
#resultOne {
	padding-bottom: 20px;
	border-style: dotted;
	font-family: "Quicksand";
}
#resultTwo {
	padding-bottom: 20px;
	border-style: dotted;
	font-family: "Quicksand";
}
#resultThree {
	padding-bottom: 20px;
	border-style: dotted;
	font-family: "Quicksand";
}
#nutritionOne {
	font-family: "Quicksand";
}
#sMeal1 {
	border-style: solid;
	padding-bottom: 20px;
	}
#sMeal2 {
	border-style: solid;
	padding-bottom: 20px;
		}
#sMeal3 {
	border-style: solid;
	padding-bottom: 20px;
			}
#placeOne {
	padding-bottom: 20px;
	border-style: dotted;
	font-family: "Quicksand";
	background-image: url("Santorini.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
#placeTwo {
	padding-bottom: 20px;
	border-style: dotted;
	font-family: "Quicksand";
	background-image: url("Panda.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
#placeThree {
	padding-bottom: 20px;
	border-style: dotted;
	font-family: "Quicksand";
	background-image: url("Lemongrass.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
#placeSubtitle {
	font-family: "Quicksand";
	font-size: 10px;
}
#ucsdFoodTitle{
	font-size: 35px;
	margin-top: -65px;
	margin-bottom: -30px;
}
#psm1 {
	font-size: 13;
}
#sMenu {
	margin-top: 50px;
}
.sMeal {
	font-size: 45px;
}
.sNutrition {
	font-size: 30px;
}

a{
	text-decoration: none;
	color: black;
}
a:hover{
	cursor: pointer;
}
