/* applies to anything of class "example-class-selector" */
body {
	font-family: "Pacifico",monospace;
	text-align: center;
	/*background: #e6e6e6; */
}
.header{
	padding: 25px;
	font-family: "Pacifico", Pacifico, monospace;
	text-align: center;
}
#homeScreen {
	font-family: "Pacifico", Pacifico, monospace;
	background: #B0C4DE;
	color: white;
	font-size: 1.5em;
}
#questionOne {
	padding-bottom: 20px;
	border-style: dotted;
}
#questionOneAnswers {
	font-family: "Quicksand";
	text-align: left;
}
#questionTwo {
	padding-bottom: 20px;
	border-style: dotted;
}
#questionTwoAnswers {
	font-family: "Quicksand";
	text-align: left;
}
#questionThree {
	padding-bottom: 20px;
	border-style: dotted;
}
#questionThreeAnswers {
	font-family: "Quicksand";
	text-align: left;
}
#resultSubtitle {
	font-family: "Quicksand";
}
#resultOne {
	padding-bottom: 20px;
	border-style: dotted;
	font-family: "Quicksand";
}
#resultTwo {
	padding-bottom: 20px;
	border-style: dotted;
	font-family: "Quicksand";
}
#resultThree {
	padding-bottom: 20px;
	border-style: dotted;
	font-family: "Quicksand";
}
#nutritionOne {
	font-family: "Quicksand";
}
a{
	text-decoration: none;
	color: black;
}
a:hover{
	cursor: pointer;
}
